# MongoDB Local via Docker
DATABASE_URL =mongodb://root:example@mongo:27017/anonpulse?authSource=admin
DATABASE_NAME =anonpulse

# MongoDB Atlas na Nuvem
# DATABASE_URL=mongodb+srv://<usuario>:<senha>@cluster.mongodb.net/anonpulse?retryWrites=true&w=majority

MINIO_ROOT_USER =minioadmin
MINIO_ROOT_PASSWORD =minioadmin
MINIO_BUCKET_NAME =anonpulse-documents
