# Banco (usado pelo docker-compose)

DB_NAME=anonpulse
DB_USER=admin
DB_PASSWORD=admin

# URL usada pela aplicação, deve usar o driver async (sqlite+aiosqlite:///database/anonpulse.db para SQLite ou postgresql+asyncpg://admin:admin@postgres:5432/anonpulse para PostgreSQL)

DATABASE_URL=postgresql+asyncpg://admin:admin@postgres:5432/anonpulse
